<p>
  <b>Schedule name fr:</b>
  <%=h @employe_ccq_schedule.schedule_name_fr %>
</p>

<p>
  <b>Schedule name en:</b>
  <%=h @employe_ccq_schedule.schedule_name_en %>
</p>


<%= link_to 'Edit', edit_employe_ccq_schedule_path(@employe_ccq_schedule) %> |
<%= link_to 'Back', employe_ccq_schedules_path %>