<html>
<%if session[:user_id]%>
  <div id="menuleft">
    <h3><%= I18n.translate('customer.menucustomer')%></h3>
     <ul>
      <li>
         <%#= link_to I18n.translate('customer.new_customer'), new_customer_path %>
      </li>
      <li>
         <%#= link_to 'Back', home_path %>
      </li>
    </ul>
  </div>
<% end %>
