<p>
  <b>Project name:</b>
  <%=h @project.project_name %>
</p>

<p>
  <b>Project dexcription:</b>
  <%=h @project.project_dexcription %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>