<p>
  <b>Sector name fr:</b>
  <%=h @employe_ccq_sector.sector_name_fr %>
</p>

<p>
  <b>Sector name en:</b>
  <%=h @employe_ccq_sector.sector_name_en %>
</p>


<%= link_to 'Edit', edit_employe_ccq_sector_path(@employe_ccq_sector) %> |
<%= link_to 'Back', employe_ccq_sectors_path %>