 <div id="tab2data" style="display:none">
   <script type="text/javascript">
      $("tab2data").hide( ); 
   </script>  
  <p>
    <b>ID:</b>
    <%=h @employe.id %>
  </p>
  <p>
    <b>First name:</b>
    <%=h @employe.first_name %>
  </p>

  <p>
    <b>Last name:</b>
    <%=h @employe.last_name %>
  </p>

  </div>
